@page {
  size: A4;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.PDFToPrint {
  background-image: url("/public/images/Certificate_Back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 297mm; /* A4 width */
  height: 209.8mm; /* A4 height */
  /* padding: 20mm; */
  box-sizing: border-box;
  position: relative;
}

.PDFToPrint__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.PDFToPrint__left {
  width: 100%;
}

.PDFToPrint__left__head {
  width: 60%;
  margin: 0 auto;
}

.PDFToPrint__left__head__text__mid {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  margin: 10px 0;
}

.PDFToPrint__left__head__text__mid__space {
  height: 1px;
  width: 30%;
  background-color: #00a0ad;
}

.PDFToPrint__left__head__text__mid__text {
  text-transform: uppercase;
  font-size: large;
  padding: 0 10px;
}

.PDFToPrint__left__head__text__small {
  width: 50%;
  margin: 10px auto;
}

.PDFToPrint__left__name {
  font-size: 32px;
  font-family: "Abril Fatface", cursive;
  margin: 10px 0;
}

.PDFToPrint__left__pictext {
  width: 60%;
  margin: 10px auto;
}

.PDFToPrint__left__training {
  font-size: 24px;
  color: #4b83a1;
  font-family: "Khula", sans-serif;
  margin: 10px 0;
}

.PDFToPrint__left__datetext {
  font-size: large;
  color: #41424c;
  margin: 10px 0;
}

.PDFToPrint__left__sign {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: space-between;

  gap: 200px;

  max-width: 900px;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-top: 80px;
}

.PDFToPrint__left__sign__one {
  text-align: center;
}
.pl-auto {
  display: inline-block;
  margin-left: auto;
}
.PDFToPrint__left__sign__one__picture {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #41424c;
  margin-bottom: 5px;
}

.PDFToPrint__left__sign__one__name {
  text-transform: uppercase;
  font-size: large;
  font-weight: bold;
  font-family: "Khula", sans-serif;
}

.PDFToPrint__left__sign__one__designation {
  font-size: medium;
  font-family: "Sanchez", serif;
}

.PDFToPrint__right {
  display: none; /* Hide right section if not used */
}

.img-fluid {
  max-width: 400px;
  width: 100%;
}
.sign-img-fluid {
  max-width: 120px;
  width: 100%;
}
.associate-img-fluid {
  max-width: 300px;
  width: 100%;
}
